{% extends "base.html" %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Reset Password</h1>
    <p>You need to enter twice of your new password</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>new password</label>
            <div class='col-md-auto text-left'>{{form.new_password1}}</div>
        </div>
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>confirm password</label>
            <div class='col-md-auto text-left'>{{form.new_password2}}</div>
        </div>
    </form>
    <div class="d-grid gap-2 col-3 mx-auto">
        <input type="submit" value="please memorize your password" class="btn btn-primary"/>
    </div>
</div>
{% endblock %}